.background{
    background: url(../img/futebol_bg.jpg), no-repeat;
    display: flex;
    flex-wrap: wrap;
    min-width: 1116px;
}

.logo_copa{
    display: flex;
    
    margin: 100px;
    
}

.score_area{
    background: #ebe6e6a6;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 2rem;
    padding: .5rem;
    
}

.seat{
    display: flex;
    font-size: 3.5rem;
    margin: auto;
    text-align: center;
}

.title{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 28%;
    text-align: center;
    width: 40%;
}

.art_area__logo{
    border: .5px solid black;
    border-radius: 500px;
    display: flex;
    height: 50px;
    margin: .3rem;
    padding: .1rem;
    text-align: center;
    width: 50px;
}

.art_area__imputScore1, .art_area__imputScore2{
    background: none;
    border: none;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0 0 .5rem;
    text-align: center;
    width: 3rem;
}